<div th:replace="shared/header"></div>
<!-- Begin Page Content -->
<div class="container-fluid full-height-index">

    <div class="px-4">

        <div th:switch="${currentUser != null}">
            <div th:case="true">
                    <div th:if="${currentUser.role.name == 'CONSUMER'}">
                        <div class="py-5 my-5 text-center">
                            <div class="col-lg-6 mx-auto">
                                <br>
                                <br>
                                <br>
                                <p class="lead mb-4">Tire suas dúvidas com nossos técnicos.</p>
                                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                                    <a type="button" class="btn btn-primary btn-lg px-4 gap-3" th:href="@{/realizar-call}">Realizar
                                        uma chamada</a>
                                </div>
                            </div>
                        </div>    
                    </div>

                    <div th:if="${currentUser.role.name == 'AGENT' || currentUser.role.name == 'MANAGER'}">
                        <div class="d-flex mt-5 ">
                            <div class="mr-2 rounded-pill bg-primary h-4 w-1 ">  </div>
                            <h5 class="font-weight-bolder text-grey-808 pb-0 mb-0 ">Chamados</h5>
                        </div>

                        <div class="py-2">
                            <div class="row mt-4 ">
                                <div class="col-md-4 mb-4"  th:each="call:${calls}">
<!--                                   <a th:href="@{'/support-chat/'+${call.id}}" class="support-a"  data-toggle="modal" data-target="#exampleModalCenter">-->

                                        <div th:id="${call}" class="card card-shadow px-4 pt-4 pb-0 min-vh-30 d-flex flex-column border border-dark"data-toggle="modal" th:data-target="'#modal-' + ${call.id}">
                                        <div class="d-flex justify-content-between">
                                            <h6 class="card-title support-title" th:text="${call.title}"></h6>
                                            <div class="bg-support-status h-100 "th:classappend="${call.status}?'bg-support-status-open':'bg-support-status-closed'">
                                                <span class="fs-6 text-support-status" th:text="${call.status}?Aberto:Fechado"></span>
                                            </div>
                                        </div>
                                        <div class="min-5">
                                            <p class="text-left limit-line-support-description"th:text="${call.description}"></p>
                                        </div>
                                        <div class="d-flex align-items justify-content-end">
                                            <p th:text="${T(com.gruposuporte.projetosuporte.utils.UserUtils).getFormattedDate(call.data)}"> </p>
                                        </div>
                                        <div class="modal fade" th:id="'modal-' + ${call.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">                                        
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div th:if="${currentUser.role.name == 'AGENT'}">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLongTitle">Atender Chamada</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>
                                                                Você gostaria de atender a chamada "<span th:text="${call.title}"></span>" ?
                                                            </p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <!--                                                    <form th:action="${/ligar}"method="post" th:object="${callAgent}">-->
                                                            <form th:action="@{'/ligar/'+${call.id}+'/'+${currentUser.id}}" method="post">
                                                                <button type="submit" class="btn btn-primary">
        <!--                                                            <input type="hidden" name="campoInvisivel" value="valorDoCampoInvisivel">-->
                                                                    Abrir chamada
                                                                </button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                    <div th:if="${currentUser.role.name == 'MANAGER'}">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLongTitle"><span style="color: black;"><b>Alocar técnico?</b></h5>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div th:each="tecnico:${tecnicos}" class="my-2">
                                                                <form th:action="@{'/ligar/'+${call.id}+'/'+${tecnico.id}}" method="post"></form>
                                                                    <div class="d-flex justify-content-between align-items-center">
                                                                        <p class="mb-0" style="color: black;" th:text = "${tecnico.name}"></p>
                                                                        <button type="submit" class="btn-primary btn cb">Alocar</button>
                                                                    </div>  
                                                                </form>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <!--                                                    <form th:action="${/ligar}"method="post" th:object="${callAgent}">-->
                                                            <form th:action="@{'/ligar/'+${call.id}+'/'+${currentUser.id}}" method="post">
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

            </div>    
            <div th:case="false">
                <div class="py-5 my-5 text-center">
                    <br>
                    <br>
                    <br>
                    <h1 class="display-5 fw-bold text-body-emphasis">Bem-vindo!</h1>
                    <div class="col-lg-6 mx-auto">
                        <p class="lead mb-4">Tire suas dúvidas com nossos técnicos.</p>
                        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                            <a type="button" class="btn btn-primary btn-lg px-4 gap-3" th:href="@{/login}">Login</a>
                            <p>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</p>
                            <a type="button" class="btn btn-outline-secondary btn-lg px-4"
                            th:href="@{/register}">Registre-se</a>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</div>
<div id="notification" class="notification shadow bg-primary">
    <div class="notification-header d-flex justify-content-between ">
        <h3 id="notification-title" class="notification-title text-light"></h3>
       <button onclick="closeNotification()" class="close">
        <i class="fa fa-times notification-close"></i>
       </button>
        
    </div>
    <div class="notification-container">
        <div class="notification-content">
            <p id="notification-text" class="notification-tex text-light"></p>
            <span class="notification-timer"></span>
        </div>
        <span class="notification-status"></span>
    </div>
</div>
<script th:inline="javascript">
    let currentUserName = /*[[${currentUser.name}]]*/ ''
    let currentUserId = /*[[${currentUser.id}]]*/ ''
    let currentUserRole = /*[[${currentUser.role.name}]]*/ ''

</script>
<div th:replace="shared/footer"></div>