<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Suporte Online - Página Inicial</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet" type="text/css">


</head>

<body id="page-top" class="full-height">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Search -->

                <div class="d-flex align-items-center justify-content-start">
                    <div class="d-inline-block w-25">
                        <a th:href="@{/}" class="mr-4">
                            <!--                              <img th:src="@{./img/ic_site.svg}" alt="suporte online - logo" class="w-100"/>-->
                            <img src="/img/ic_site.svg" alt="suporte online - logo" class="w-100"/>
                        </a>
                    </div>
                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <div class="input-group-append">
                            </div>
                        </div>
                    </form>
                </div>


                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">
                    <div th:if="${currentUser.role.name == 'MANAGER'}">
                        <li>
                            <a class="nav-link text-dark mt-3" th:href="@{/csv-relatorio}">
                                <i class="fas fa-file-csv"></i>
                                <span>Relatório</span>
                            </a>
                        </li>
                    </div>
                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->

                    <!-- Nav Item - Alerts -->
                    <li class="nav-item dropdown no-arrow mx-1">
                       
                    </li>

                    <!-- Nav Item - Messages -->
                    <li class="nav-item dropdown no-arrow mx-1">
                        
                        <!-- Dropdown - Messages -->
                        
                    </li>

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">

                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                           th:if="${currentUser != null}">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small"
                                  th:text="${currentUser.name}"></span>
                            <img class="img-profile rounded-circle" src="/img/undraw_profile.svg" alt="profile">
                        </a>

                        <a th:if="${currentUser == null}" th:href="@{/login}" class="nav-link">
                            <span class="mr-2 d-none d-lg-inline small text-primary font-weight-bold">Login</span>
                        </a>

                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <div th:if="${currentUser.role.name != 'MANAGER'}">
                                <a class="dropdown-item" th:href="@{/my-support-requests}"
                                th:if="${currentUser != null}">
                                    <!--                                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>-->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="mr-2 text-gray-400" width="16"
                                        height="16" viewBox="0 0 16 16" fill="none">
                                        <path d="M11.3332 10.6667H5.33317C4.96498 10.6667 4.6665 10.3682 4.6665 10V3.99999C4.6665 3.63181 4.96498 3.33333 5.33317 3.33333H11.3332M11.3332 10.6667H13.3332C13.7014 10.6667 13.9998 10.3682 13.9998 10V3.99999C13.9998 3.6318 13.7014 3.33333 13.3332 3.33333H11.3332M11.3332 10.6667V10M11.3332 3.33333V3.99999"
                                            stroke="#D1D3E2" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M8.66667 13.3333H2.66667C2.29848 13.3333 2 13.0349 2 12.6667V6.66667C2 6.29848 2.29848 6 2.66667 6H4.66667M8.66667 13.3333H10.6667C11.0349 13.3333 11.3333 13.0349 11.3333 12.6667V11M8.66667 13.3333V12.6667"
                                            stroke="#D1D3E2" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M11.3335 6.00099V5.99998" stroke="#D1D3E2" stroke-linecap="round"
                                            stroke-linejoin="round"/>
                                        <path d="M11.3335 8.001V8" stroke="#D1D3E2" stroke-linecap="round"
                                            stroke-linejoin="round"/>
                                    </svg>
                                    Meus chamados
                                </a>
                            </div>
                            
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item nav-item-logout" th:href="@{/logout}">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Sair
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>